html, body {
  margin: 0;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 5% 15%;
}

article {
  margin-top: 5%;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 3%;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  line-height: 1.5em;
}

.author {
  margin-right:  20px;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
}

.green {
  cursor: pointer;
  color: #26A653;
}

.btn-blue {
  cursor: pointer;
  background-color: hsl(219, 73%, 48%);
  padding: 5px 5%;
  border: 1px solid #333;
  border-radius: 5px;
}

.btn-red {
  cursor: pointer;
  background-color: #F24141;
  padding: 5px 5%;
  margin-left: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}


.btn-content {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

/* page new article */

.align-input {
  display: flex;
  margin-bottom: 20px;
}

.label-style {
  width: 100px;
}

.btn-green {
  cursor: pointer;
  background-color: #26A653;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 5%;
  margin-left: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.btn-return {
  cursor: pointer;
  background-color: rgb(228, 226, 226);
  color: #333;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 5%;
  margin-left: 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.flex{
  display: flex;
}

.image {
  max-width: 900px;
  height: auto;
}

.image-update {
  max-width: 300px;
  height: auto;
}